offline {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00f;
    z-index: 1004;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 12px;
    font-size: 18px;
}