settings {
    display: block;
    width: 100%;
    /*padding: 0 8px;*/
}
settings fieldset {
    border: none;
}
group {
    display: block;
    background-color: var(--bg);
    width: 100%;
    height: auto;
    border-radius: 24px;
    padding: 0 /*10px*/ 12px;
    margin: 6px 0 24px;
}
settings legend {
    color: var(--text-note);
    text-transform: uppercase;
    font-size: 11pt;
    margin: 0;
}
setting {
    display: flex;
    width: 100%;
    height: 48px;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 6px;
    position: relative;
}
group setting:not(:last-of-type) {
    margin-bottom: 1px;
}
group setting:not(:last-of-type)::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255,255,255,0.2);
}
setting info {
    flex: 1;
}
setting info name {
    display: block;
}
setting info description {
    display: block;
    color: var(--text-note);
    font-size: 9pt;
}
setting .pageturner {
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}
setting .pageturner:hover {
    transform: none;
}
setting .pageturner .material-symbols-rounded {
    color: var(--text-note);
}
settings #heart {
    font-size: 16pt;
    transform: translateY(0.2em);
}
group.width-fill {
    width: fit-content;
    padding: 10px 18px;
    margin-left: auto;
    margin-right: auto;
}
#console {
    padding: 8px 0;
    height: 300px;
    overflow: scroll;
}
#console span {
    font-family: monospace;
}
setting.bigsetting {
    height: 80px;
}
setting.bigsetting input {
    width: 160px;
    height: 64px;
    font-size: 32pt;
    background-color: var(--bg);
}