progressbar {
    position: absolute;
    right: 6px;
    bottom: 0;
    left: 6px;
    height: 4px;
    border: none;
    background-color: transparent;
}
progressbar progressindicator {
    background-color: #fff;
    position: absolute;
    left: 0;
    height: 100%;
}
windowpager {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    --windowpager-width: 420px;
    --windowpager-page: attr(data-page number);
}
windowpagercontentarea {
    display: flex;
    flex-direction: row;
    width: max-content;
    height: 100%;
    position: relative;
    transition: left .7s cubic-bezier(0.16, 1, 0.3, 1);
    left: 0;
}
windowpage {
    display: flex;
    flex-direction: column;
    width: var(--windowpager-width);
    padding: 0 18px;
    position: relative;
}
windowpage li {
    text-align: left;
}
windowpage h1 {
    margin-bottom: 0;
}
.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
    margin: auto 0 12px;
}
.button-row button {
    flex: 0 0 auto;
}