homemap {
    display: block;
    width: calc(100% + 24px);
    height: 50%;
    background:
            linear-gradient(to bottom, var(--bg-dark), var(--bg)) no-repeat,
            var(--bg-dark);
    background-size: 100% 48px, auto;
    background-position: center bottom, left top;
    overflow: scroll;
    scrollbar-width: none;
    margin: 0 -12px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.buses {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: auto;
    padding: 24px;
    margin: auto;
}
.bus-row {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
row {
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: min-content;
}
clm {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
bus {
    width: 64px;
    height: 36px;
    border-radius: 12px;
    background-color: var(--bg-light);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff20;
    font-family: "JetBrains Mono", monospace;
    box-shadow: inset 0 0 2px var(--bg-dark);
}
bus:empty {
    opacity: .5;
}
bus[highlight] {
    border: 2px solid var(--accent);
    box-shadow: 0 0 6px hwb(from var(--accent) h w b / 0.5);
}
.buses-north row {
    flex-direction: row-reverse;
}
.buses-south {
    margin-top: auto;
}
.buses-west clm {
    display: flex;
    flex-direction: row;
}
.buses-west clm row {
    display: flex;
    flex-direction: column;
}
.buses-west bus {
    width: 36px;
    height: 64px;
}
.finder {
    padding: 12px;
}
.finder h2 {
    margin: 0;
}
.finder-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-dark);
    padding: 12px;
    border-radius: 12px;
    margin-top: 8px;
    gap: 12px;
}
.finder-contractor {
    height: 36px;
    max-width: 100%;
}
.finder-number {
    font-size: 24pt;
    line-height: 1;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
}