main {
    justify-content: center;
    align-items: center;
}
main group {
    display: block;
    width: 600px;
    max-width: calc(100% - 24px);
    text-align: left;
}
main group setting {
    display: block;
    height: auto;
}
main group setting:first-of-type {
    padding: 16px 0;
    text-align: center;
}
main group setting:first-of-type h1 {
    margin: 0;
}
main kbd {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 33%;
    background: var(--bg-light);
    border: 1px solid var(--accent);
}
main kbd span.material-symbols-rounded {
    font-size: 14pt;
}
main small {
    display: block;
    margin: -2px 0 12px;
}