@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
* {
    box-sizing: border-box;
    --accent: #ffd119;
    --bg-dark: hsl(0,0%,5%);
    --bg: hsl(0,0%,10%);
    --bg-light: hsl(0,0%,20%);
    --text: hsl(0,0%,100%);
    --text-muted: hsl(0,0%,90%);
    --text-note: hsl(0,0%,70%);
    font-family: 'Inter', 'Noto Sans', sans-serif;
}
*[hidden] {
    display: none !important;
}
body {
    margin: 0;
    color: var(--text);
    font-family: 'Inter', 'Noto Sans', sans-serif;
    background-color: var(--bg-dark);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
main {
    width: 100%;
    height: 100%;
    background-color: var(--bg-dark);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
a {
    color: var(--accent);
    text-decoration: none;
}
/*
h1, h2, h3, h4, h5, h6 {
    font-family: 'Momo Trust Display', 'Noto Sans', sans-serif;
}
*/
.material-symbols-rounded {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
}
nav {
    /*--round-screen-margin: env(safe-area-inset-bottom,18px);*/
    --round-screen-margin: 24px;
    display: flex;
    width: 100%;
    height: calc(var(--round-screen-margin) + 52px);
    justify-content: space-around;
    align-items: center;
    background-color: #202020;
    z-index: 99;
    order: 99999;
    padding-bottom: var(--round-screen-margin);
    gap: 1px;
}
.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #434343, #231d25);
    border: none;
    border-radius: 0;
    padding: 2px 16px;
    color: var(--text);
    width: auto;
    height: 100%;
    flex: 1;
    box-shadow: inset 0 0.5px 1px 0.5px rgba(255,255,255,0.1);
}
.nav-item.selected {
    background: linear-gradient(180deg, #2d2d2d, #3a3a3a, #424242);
    box-shadow: inset 0 1px 5px 2px rgba(0,0,0,0.2);
}
.nav-label {
    font-size: 12px;
    font-weight: 600;
    color: #ccc;
}
.nav-item.selected .nav-label {
    color: #fff;
}
.nav-item .material-symbols-rounded {
    background: linear-gradient(180deg, #b0b0b0, #828282);
    filter: drop-shadow(0 1px 0px rgba(0,0,0,0.2));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 32px;
    font-variation-settings: 'wght' 350;
}
.nav-item.selected .material-symbols-rounded {
    background: linear-gradient(180deg, #038bfe, #00bbfe);
    filter: drop-shadow(0 1px 0px rgba(0,0,0,0.2));
    -webkit-background-clip: text;
    background-clip: text;
    font-variation-settings: 'FILL' 1;

}
.material-symbols-rounded.fill {
    font-variation-settings: 'FILL' 1;
}
button {
    border-radius: 24px;
    border: none;
    padding: 6px 12px;
    font-size: 11pt;
    cursor: pointer;
    background-color: var(--bg-light);
    color: var(--text);
    transition: transform .5s cubic-bezier(0.25, 1, 0.5, 1);
}
button:not(.nav-item):hover {
    transform: scale(120%);
}
button.primary {
    background-color: var(--accent);
    color: var(--bg-dark);
}
button.secondary {
    background-color: var(--bg-light);
    color: var(--text);
}

.main {
    width: 100vw;
    height: auto;
    /*height: 100%;*/
    /*position: absolute;*/
    top: 0;
    left: 0;
    overflow: hidden;
    flex-grow: 1;
}
pagebounds {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
page {
    width: 100%;
    height: 100%;
    /*padding: 0 12px;*/
    padding: 0;
    overflow: scroll;
    display: none;
    scrollbar-width: none;
    background-color: var(--bg-dark);
    position: absolute;
    top: 0;
    left: 0;
}
page.active {
    display: block;
}
page[nopadding] {
    padding: 0;
}
@keyframes page-in {
    from {
        transform: translate(100%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}
@keyframes page-out {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-33%, 0);
    }
}
@keyframes page-in-2 {
    to {
        transform: translate(100%, 0);
    }
    from {
        transform: translate(0, 0);
    }
}
@keyframes page-out-2 {
    to {
        transform: translate(0, 0);
    }
    from {
        transform: translate(-33%, 0);
    }
}

.color-accent {
    color: var(--accent);
}
footer {
    text-align: center;
}
footer span {
    display: block;
}
redacted {
    background-color: var(--text);
}
.back {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0;
}

@media (min-width: 768px) {
    main {
        flex-direction: row;
    }
    .main {
        width: auto;
        height: 100vh;
    }
    nav {
        order: -1;
        flex-direction: column;
        width: 60px;
        min-width: 60px;
        height: 100%;
        min-height: unset;
        justify-content: start;
        padding-bottom: 0;
    }
    .nav-item {
        width: 52px;
        height: 52px;
        border-radius: 16px;
        justify-content: center;
        margin: 4px 0;
    }
    settings {
        max-width: 800px;
        margin: auto;
    }
}

group.error {
    align-items: center;
    display: flex;
    flex-direction: column;
}
group.error .material-symbols-rounded {
    font-variation-settings: 'FILL' 1;
    font-size: 72px;
    color: #808080;
    margin: 12px;
}
group.error h1 {
    margin: 0;
}
group.error span {
    margin-bottom: 2px;
}
group.error a {
    margin-bottom: 12px;
}
/*
@media (prefers-color-scheme: light) {
    * {
        --bg-dark: hsl(0,0%,95%);
        --bg: hsl(0,0%,98%);
        --bg-light: hsl(0,0%,100%);
        --text: hsl(0,0%,0%);
        --text-muted: hsl(0,0%,20%);
        --text-note: hsl(0,0%,40%);
    }
}
 */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #535353, #343434, #222222);
    height: 48px;
    padding: 8px;
    color: #c8c8c8;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.8), 0 1px 2px rgba(0,0,0,0.5);
}
header::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.4);
}
header h1 {
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}
header button {
    background: linear-gradient(180deg, #535353, #343434, #222222);
    border: 1px solid #343434;
    box-shadow:
            inset 0 0.67px 1px #282828,
            0 1px 0.5px rgba(255,255,255,0.1);
    border-radius: 6px;
    height: 100%;
}
header button:hover {
    transform: none !important;
}