.map-bounds {
    width: calc(100% + 24px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -12px;
}
#map-canvas {
    width: 100%;
    height: 100%;
}