settings {
    display: block;
    width: 100%;
    /*padding: 0 8px;*/
}
settings fieldset {
    border: none;
}
group {
    display: block;
    background-color: var(--bg);
    width: 100%;
    height: auto;
    border-radius: 24px;
    padding: 0 /*10px*/ 12px;
    margin: 6px 0 24px;
}
settings legend {
    color: var(--text-note);
    text-transform: uppercase;
    font-size: 11pt;
    margin: 0;
}
setting {
    display: flex;
    width: 100%;
    height: 48px;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 6px;
    position: relative;
}
group setting:not(:last-child),
group stngp:not(:last-child) {
    margin-bottom: 1px;
}
group setting:not(:last-child)::after,
group stngp:not(:last-child)::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255,255,255,0.2);
}
setting info {
    flex: 1;
}
setting info name {
    display: block;
}
setting info description {
    display: block;
    color: var(--text-note);
    font-size: 9pt;
}
setting .pageturner {
    background: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: right;
    align-items: center;
}
setting .pageturner:hover {
    transform: none;
}
setting .pageturner .material-symbols-rounded {
    color: var(--text-note);
}
settings #heart {
    font-size: 16pt;
    transform: translateY(0.2em);
}
group.width-fill {
    width: fit-content;
    padding: 10px 18px;
    margin-left: auto;
    margin-right: auto;
}
#console {
    padding: 8px 0;
    height: 300px;
    overflow: scroll;
}
#console span {
    font-family: monospace;
}
setting.bigsetting {
    height: 80px;
}
setting.bigsetting input {
    width: 160px;
    height: 64px;
    font-size: 32pt;
    background-color: var(--bg);
}
stngp { /* setting paragraph */
    padding: 12px 0;
    display: block;
    position: relative;
}
stngp p:first-child {
    margin-top: 0;
}
stngp p:last-child {
    margin-bottom: 0;
}
.socials {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
}
.socials li img {
    width: 24px;
}
.socials li a {
    text-decoration: none;
    color: var(--text);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 36px;
    background-color: var(--bg-light);
}
.socials li a:active {
    color: var(--accent);
}
.socials li span {
    display: none;
}
.settings-page-banner {
    margin: -12px -12px -6px;
    width: calc(100% + 24px);
    border-radius: 24px 24px 0 0;
    max-height: 400px;
}