progressbar {
    position: absolute;
    right: 6px;
    bottom: 0;
    left: 6px;
    height: 4px;
    border: none;
    background-color: transparent;
}
progressbar progressindicator {
    background-color: #fff;
    position: absolute;
    left: 0;
    height: 100%;
}
windowpager {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    --windowpager-page: attr(data-page number);
    position: absolute;
    right: 0;
    z-index: 9999;
    background-color: var(--bg-dark);
}
windowpagercontentarea {
    display: flex;
    flex-direction: row;
    width: max-content;
    height: 100%;
    position: relative;
    transition: left .7s cubic-bezier(0.16, 1, 0.3, 1);
    left: 0;
}
page#onboarding,
.main:has(page#onboarding.active) {
    overflow: visible;
}
windowpage {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    position: relative;
}
windowpage li {
    text-align: left;
}
windowpage h1 {
    margin-bottom: 0;
}
windowpage windowpagethumbnail {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
windowpage windowpagethumbnail::after {
    content: '';
    display: block;
    width: 100%;
    height: 48px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg,var(--bg-dark) 0%, transparent 100%);
}
windowpage windowpagethumbnail img {
    width: 100%;
    height: auto;
}
windowpage windowpagebody {
    padding: 0 12px;
    height: fit-content;
    flex-grow: 1;
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: column;
}
windowpage.windowpage-welcome windowpagebody {
    border-radius: 24px 24px 0 0;
    margin: 0 12px;
}
.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
    margin: auto 0 12px;
}
.button-row button {
    flex: 0 0 auto;
    padding: 9px 18px;
}
@media (max-width: 767px) {
    .button-row {
        margin-bottom: 24px;
    }
}
.button-with-icon {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 12px auto;
}
.button-with-icon .material-symbols-rounded {
    margin-right: 4px;
}
@keyframes windowpager-out {
    from {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }
    to {
        transform: scale(1.5);
        opacity: 1;
        filter: blur(2vw);
    }
}
@keyframes windowpager-in {
    from {
        transform: scale(0.8);
        opacity: 0;
        filter: blur(2vw);
    }
    to {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }
}